body {
    user-select: none;
    background:
        linear-gradient(-90deg, 
        rgba(0, 0, 0, 0.2) 5%, 
        rgba(255, 255, 255, 0) 5.1%,
        rgba(255, 255, 255, 0) 100%),
        linear-gradient(0, 
        rgba(0, 0, 0, 0.2) 5%, 
        rgba(255, 255, 255, 0) 5.1%,
        rgba(255, 255, 255, 0));
    background-size: 20px 20px;
}
